.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #efd6d6;
  border-bottom: solid 2px #fff;
}

.header-logo {
  display: flex;
  margin-right: auto;
  padding-left: 80px;
}

.header-img {
  animation: spin 20s 1 linear;
}

.header-title {
  display: flex;
  padding-left: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.header-title span {
  transform-origin: top;
  animation: changeColor 20s 1 linear;
}

.header-title span:nth-child(2) {
  animation-delay: 500ms;
}
.header-title span:nth-child(3) {
  animation-delay: 1000ms;
}
.header-title span:nth-child(4) {
  animation-delay: 1500ms;
}
.header-title span:nth-child(5) {
  animation-delay: 2000ms;
}
.header-title span:nth-child(6) {
  animation-delay: 2500ms;
}
.header-title span:nth-child(7) {
  animation-delay: 3000ms;
}
.header-title span:nth-child(8) {
  animation-delay: 3500ms;
}
.header-title span:nth-child(9) {
  animation-delay: 4000ms;
}

.header-nav {
  padding-right: 80px;
}

.header-link {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
 
.header-link:not(.active):hover {
    animation: hoverColor 2000ms infinite linear;
    cursor: pointer;
}

.header-link:first-child {
  margin-right: 40px;
}

.active {
    animation: hoverColor 20s infinite linear;
}

@keyframes changeColor {
  0% {
    color: #fff;
    transform: perspective(400px) rotateX(0deg);
  }

  16% {
    color: #ea9242;
    transform: perspective(400px) rotateX(90deg);
  }

  32% {
    color: #ea9242;
    transform: perspective(400px) rotateX(0deg);
  }

  48% {
    color: #e0267f;
    transform: perspective(400px) rotateX(90deg);
  }

  64% {
    color: #e0267f;
    transform: perspective(400px) rotateX(0deg);
  }
  80% {
    color: #1a83a9;
    transform: perspective(400px) rotateX(90deg);
  }
  96% {
    color: #1a83a9;
    transform: perspective(400px) rotateX(0deg);
  }
  100% {
    color: #fff;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes hoverColor {
  0% {
    color: #1a83a9;
  }

  33% {
    color: #e0267f;
  }
  66% {
    color: #ea9242;
  }

  100% {
    color: #1a83a9;
  }
}
